body {
    margin: 0;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    background: #fff;
    color: #0d1628
}

.header {
    text-align: center;

}

.header h1 {
    background:linear-gradient(to right,#163160 ,#5483B3);
    color: aliceblue;
    font-size: 32px;
    padding: 40px;
    margin: 0 200px;

}
nav {
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 10px;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(34, 75, 118);
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
    padding: 6px 12px;
    border-radius: 5px;
}

/* تأثير عند المرور بالماوس */
nav ul li a:hover {
    background: #517db3;
    color: #fff;
}
.contact {
    width: 1300px;
    font-size: x-large;
    margin: 40px 20px 15px 60px;
    padding: 20px 370px 20px 20px  ;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
    text-align: left;
}
.contact img {
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.aid {
    position: relative;
}

.side-image {
    position: absolute;
    right: 100px;
    top: 20px;
    width: 300px;
    border-radius:10px;
}
/* العنوان */
.contact h2 {
    font-size: 36px;
    color: #224b76;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* الفقرة */
.contact p {
    font-size: 23px;
    font-weight: 500;
    line-height: 2;
    color: #111010;
}

/* ---- table --- */
#types {
    padding: 20px;
    text-align: center;
}

#types h2 {
    font-size: 40px;
    color: #0b3c60;
    margin-bottom: 32px;
}
table {
    margin: auto;
    width: 85%;
    border-collapse: collapse;
    background-color: white;
    font-size: 19px;
}

table th {
    background: #163160;
    color: white;
    padding: 12px;
    border: 2px solid #334663;
}
table td {
    padding: 12px;
    border: 2px solid #334663;
}

table tr:nth-child(even) {
    background-color: #eef6ff;
}
table tr:hover {
    background-color: #d7ecff;
    cursor: pointer;
}


/*---AI APPLICATIONS---*/
#apps .header {
    background-color: rgba(209, 225, 250, 0.87);
    color: white;
    width: 100%;
    margin: 30px 0 30px 0;
    padding: 25px 0;
    text-align: center;
}
#apps .header-title {
    font-size: 40px;
    color: #005bbb;
    margin-bottom: 10px;
}
#apps .header-description{
    font-size: 20px;
    color: #333;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    margin: auto;
}

.ai-app {
    display: flex;
    align-items: center;
    gap: 25px;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    border: 4px solid #517db3;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.ai-app:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgb(81, 125, 179);
}
.ai-app video{
    display:block;
    margin-top:10px;
    border-radius:10px;
}
.ai-app img {
    width: 250px;
    height: 300px;
     object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;

}


.ai-app-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #005bbb;
}

.ai-app-description {
    flex: 1;
    font-size: 18px;
    color: #0d1628;
    line-height: 1.8;
    max-width: 90%;
    margin-bottom:15px;
}
/* Contact Section */
#contact{
    padding: 60px 0;
    background: #fbfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title */
#contact h2{
    color: #163160;
    background-color: rgba(209, 225, 250, 0.87);
    font-size: 34px;
    margin-bottom: 30px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0;
}

/* Form Box */
#ai-form fieldset{
    width: 450px;
    border-radius: 15px;
    border: none;
    background: rgba(216, 226, 246, 0.64);
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
    padding: 30px;
}

/* Legend */
#ai-form legend{
    font-size: 22px;
    font-weight: bold;
    color: #4a8bb9;
    margin-bottom: 15px;
    text-align: center;
}

/* Group styling */
.form-group{
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

/* Label */
.form-group label{
    font-size: 18px;
    margin-bottom: 6px;
    color: #333;
}

/* Input fields */
.form-group input,
.form-group select,
.form-group textarea{
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    transition: 0.3s;
    box-sizing: border-box;
}

/* Focus effect */
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{
    border-color: #072336;
    box-shadow: 0 0 5px rgba(10,65,116,0.4);
}

/* Textarea height */
textarea{
    height: 70px;
}

/* Checkbox group */
.form-group.checkbox{
    display: block;
    text-align: left;
    gap: 8px;
}
.form-group.checkbox input[type="checkbox"]{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* Submit Button */
.submit-btn{
    background: #072336;
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover effect */
.submit-btn:hover{
    background: #094074;
    color: #cce6ff;
}
